.parent{
    margin: 100px;
    width: 300px;
    height: 800px;
    background: rgb(249, 249, 250);
    display: grid;
            }
            .child{
                border: 2px solid orange;
            
                width: 50vh;
                background: red;
                flex-wrap: wrap;
text-decoration: line-through;
                
    
            }
            .child1{
                border: 2px solid rgb(64, 0, 255);
                
                width: 50vh;
                background: red;
                
            }
            .child2{
                border: 2px solid rgb(105, 91, 66);
                
                width: 50vh;
                background: rgb(69, 19, 19);
                
            }
            .card{
                border: 2px solid rgb(64, 0, 255);
                width: 50vh;
                background: red;
                justify-content:center
                
            }